<h1>Welcome {{user.firstName}}</h1>
<h4>Your stories...</h4>

{{#if stories}}
<table class="stripped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each stories}}
    <tr>
      <td>
        <a href="/stories/show/{{id}}">{{title}}</a>
      </td>
      <td>{{formatDate data "MMMM do YYYY"}}</td>
      <td>
        <span class="dash-status">{{status}}</span>
      </td>
      <td>
        <a class="btn left-align" href="/stories/edit/{{id}}">
          <i class="fa fa-pencil"></i>Edit</a>
        <form action="/stories/{{id}}" method="POST" class="delete-form">
          <button type="submit" class="btn red">
            <i class="fa fa-remove"></i> Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{else}}
<p>You do not have any stories for now, go ahead and create one...</p>
{{/if}}


<div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">add_circle</i>
  </a>
  <ul>
    <li><a href="https://github.com/ashishcodes4" target="_blank" class="btn-floating red"><i class="material-icons">code</i></a></li>
    <li><a href="/dashboard" class="btn-floating yellow"><i class="material-icons">account_box</i></a></li>
    <li><a href="/stories/" class="btn-floating green"><i class="material-icons">books</i></a></li>
    <li><a href="/stories/add" class="btn-floating blue"><i class="material-icons">create</i></a></li>


  </ul>
</div>